<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag('https://static.wixstatic.com/media/6ec1ab_ac81a8a9b47b434b85e57a508ab1dda2~mv2.jpg/v1/fill/w_1265,h_843,al_c,q_85,usm_0.66_1.00_0.01/6ec1ab_ac81a8a9b47b434b85e57a508ab1dda2~mv2.jpg') %>
        <!-- random image -->
        <div class="caption center-align">
          <h3 style="color: black;">Welcome to Unschool School</h3>
          <h4 class="light grey-text text-lighten-3" style="color: black !important;">Connecting Educators, Parents and Learners</h4>
          <%= link_to 'Start Learning NOW', new_user_registration_path, class: 'waves-effect waves-light btn-large'%>
        </div>
    </li>

  </ul>
</div>

<div class="divider"></div>

<div class="container">
<div class="row"></div>
<div class="row">
   <nav>
    <div class="nav-wrapper">

       <%= form_tag(courses_all_path, :method => "get", id: "search") do %>
          <div class="input-field">
           <%= text_field_tag :search, params[:search], placeholder: "Search Courses", type: "search" %>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          </div>
      <% end %>
    </div>
  </nav>
</div>
  <div>
    <h4 class="center-align">Recently added courses</h4>
  </div>

  <div class="row">
    <% if Course.all.size > 0 %>
      <% Course.last(5).reverse.each do |course| %>
       <%= render( :partial => 'cards/card', :locals => { course: course }) %>
      <% end %>
    <% else %>
      <p>No courses found.</p>
    <% end %>
  </div>
</div>

<script>

 $(document).ready(function(){
      $('.slider').slider();
    });

</script>
